*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

body{
    background-color: rgb(184, 129, 235);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3em;

}

#calc{
    width: 400px;
    padding: .5em;
    background-color: aliceblue;
    color: black;
    display: flex;
    flex-direction: column;
}

#calc{
    font-size: .8em;
    font-weight: 300;
    color: #666;
}

#operations{
    text-align: right;
}

#previous-operation,
#current-operation{
    min-height: 1.6em;
    padding: 0.2em;
    overflow-wrap: break-word;
}

#previous-operation{
    color: #777;
}

#current-operation{
    font-size: 3em;
    font-weight: 700;
}

#buttons-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 5px;
}

#buttons-container button{
    border: 1px solid transparent;
    border-radius: 0;
    height: 4em;
    font-size: 1.2em;
    background-color: #DBDBDB;
    cursor:pointer ;

}

#buttons-container button:hover{
    background-color: blueviolet;
    border-color: darkmagenta;

}

#buttons-container #equal-btn{
    grid: span 2;
    background-color:violet ;
}
#buttons-container #equal-btn:hover{
    background-color: hotpink;
}